In [1]:
# player count 

# import required libraries
import pandas as pd
import numpy as np

# read the HeroesPymoli data
pymoli_df = pd.read_csv("/Users/rodneydavermann/Desktop/Pandas_Challenge/Ressources/purchase_data.csv")

# create a list to hold data from SN column
SN_list = pymoli_df["SN"]

# count the total number of distinct SN which is equal to the total number of players\n",
total_number_SN = len(set(SN_list))

# create a dataframe to store the total number of players
total_number_players = pd.DataFrame({"Total Number Players": [total_number_SN]})
total_number_players

   Total Number Players
0                   576

In [2]:
# purchasing analysis (Total) 

# import required libraries
import pandas as pd
import numpy as np

# read the HeroesPymoli data
pymoli_df = pd.read_csv("/Users/rodneydavermann/Desktop/Pandas_Challenge2/Ressources/purchase_data.csv")

# number of unique items
number_unique_items = len(set(pymoli_df["Item ID"]))

# average price
average_price = round(pymoli_df["Price"].mean(), 2)

# number of purchases
number_purchases = pymoli_df["Item ID"].count()

# total revenue
total_revenue = round(pymoli_df["Price"].sum(), 2)

# create a dataframe to hold number of items, average price, number of purchases, and the total of revenue
summarize_data = pd.DataFrame({"Number of Unique Items": number_unique_items,
                               "Average Price" : [average_price],"Number of Purchases": [number_purchases],
                               "Total Revenue": [total_revenue]})
    
# format average price and total revenue to currency 
summarize_data["Average Price"] = summarize_data["Average Price"].map("${:,.2f}".format)
summarize_data["Total Revenue"] = summarize_data["Total Revenue"].map("${:,.2f}".format)
    
# display results
summarize_data

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [3]:
# gender demographics analysis

# import required libraries
import pandas as pd
import numpy as np

# read the HeroesPymoli data
pymoli_df = pd.read_csv("/Users/rodneydavermann/Desktop/Pandas_Challenge2/Ressources/purchase_data.csv")

# total players 
total_number_players = len(set(SN_list))
    
# group the dataframe by gender\n",
grouped_gender_df = pymoli_df.groupby("Gender")

# number of players by gender
number_players_gender = grouped_gender_df.nunique()["SN"]
number_players_gender
    
# percentage players by gender\n",
percentage_players_gender = round(((number_players_gender *100)/ total_number_players), 2)
percentage_players_gender= percentage_players_gender.map("{:,.2f}%".format)
    
# create a sorted dataframe to display the results
gender_demographic_results = pd.DataFrame({"Total Count": number_players_gender,"Percentage of Players": percentage_players_gender})

# sort gender demographic results from total count column
gender_demographic_results_sort = gender_demographic_results.sort_values(["Total Count"], ascending=False)
gender_demographic_results_sort

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [4]:
# purchasing analysis (Gender)

# import required libraries
import pandas as pd
import numpy as np

# read the HeroesPymoli data
pymoli_df = pd.read_csv("/Users/rodneydavermann/Desktop/Pandas_Challenge2/Ressources/purchase_data.csv")

# total players 
total_number_players = len(set(SN_list))
    
# group the dataframe by gender
grouped_gender_df = pymoli_df.groupby("Gender")

# purchase count
purchase_count = grouped_gender_df["Price"].count()

# average purchase price
average_purchase_price_gender = ((round(grouped_gender_df["Price"].mean(),2)).map("${:,.2f}".format))
   
# total purchase value
total_purchase_value_gender = (round(grouped_gender_df["Price"].sum(),2))
    
# currency format of the totale purchase value
total_purchase_value_gender_format = total_purchase_value_gender.map("${:,.2f}".format)
                                                                    
# average total purchase per person
average_total_purchase_per_person = round(total_purchase_value_gender / number_players_gender, 2)
    
# currency format of the average total purchase per person 
average_total_purchase_per_person_format = average_total_purchase_per_person.map("${:,.2f}".format)
                                                                    
# display results in a dataframe
purchasing_analysis_gender = pd.DataFrame({"Purchase Count":purchase_count, 
                                           "Average Purchase Price": average_purchase_price_gender, 
                                           "Total Purchase Value": total_purchase_value_gender_format, 
                                           "Avg Total Purchase per Person": average_total_purchase_per_person_format})
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [5]:
# age demographics analysis

# import required libraries
import pandas as pd
import numpy as np

# read the HeroesPymoli data
pymoli_df = pd.read_csv("/Users/rodneydavermann/Desktop/Pandas_Challenge2/Ressources/purchase_data.csv")

# Create bins and bin labels for the age column
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_bins_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# bin the age column
pd.cut(pymoli_df["Age"], age_bins, labels=age_bins_labels)

# append bin age group to pymoli_df
pymoli_df["Age Group"] = pd.cut(pymoli_df["Age"], age_bins, labels=age_bins_labels)

# group pymoli_df by Age Group
age_group_df = pymoli_df.groupby("Age Group")

# total count players by group age
total_players_age_group = age_group_df["SN"].nunique()

#total_players_age_group
# percentage of players
percentage_players_age_group = round((total_players_age_group*100 /total_number_players),2).map("{:,.2f}%".format)
    
# data frame to display results (age demographics)
age_demographics_table = pd.DataFrame({"Total Count": total_players_age_group, 
                                       "Percentage of Players": percentage_players_age_group})
age_demographics_table

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [6]:
# purchasing analysis group age

# import required libraries
import pandas as pd
import numpy as np

# read the HeroesPymoli data
pymoli_df = pd.read_csv("/Users/rodneydavermann/Desktop/Pandas_Challenge2/Ressources/purchase_data.csv")

# Create bins and bin labels for the age column
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_bins_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
    
# bin the age column
pd.cut(pymoli_df["Age"], age_bins, labels=age_bins_labels)

# append bin age group to pymoli_df
pymoli_df["Age Group"] = pd.cut(pymoli_df["Age"], age_bins, labels=age_bins_labels)
    
# group pymoli_df by Age Group
age_group_df = pymoli_df.groupby("Age Group")

# number players by age group
number_players_age_group = age_group_df.nunique()["SN"]
    
# purchase count 
purchase_count = age_group_df["Item ID"].count()
    
# average purchase price
average_purchase_price = round((age_group_df["Price"].mean()),2).map("${:,.2f}".format)

# total purchase value
total_purchase_value_age_group = round((age_group_df["Price"].sum()),2)
total_purchase_value_age_group_format = total_purchase_value_age_group.map("${:,.2f}".format)
    
# avg total purchase per person
average_total_purchase_age_group = round(total_purchase_value_age_group / number_players_age_group, 2).map("${:,.2f}".format)

# display the summary data frame
summary_data_frame = pd.DataFrame({"Purchase Count":purchase_count, 
                                   "Average Purchase Price":average_purchase_price, 
                                   "Total Purchase Value":total_purchase_value_age_group_format, 
                                   "Avg Total Purchase per Person":average_total_purchase_age_group})
summary_data_frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [7]:
# top spenders analysis

#import required libraries
import pandas as pd
import numpy as np

# read the HeroesPymoli data
pymoli_df = pd.read_csv("/Users/rodneydavermann/Desktop/Pandas_Challenge2/Ressources/purchase_data.csv")

# group pymoli_df by SN
pymoli_df_sn = pymoli_df.groupby("SN")

# purchase count
purchase_count = pymoli_df_sn["Item ID"].count()
    
# average purchase price
average_purchase_price = pymoli_df_sn["Price"].mean()
    
# total purchase value
total_purchase_value = pymoli_df_sn["Price"].sum()
    
# top senders data frame
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": average_purchase_price,
                                 "Total Purchase Value":total_purchase_value})
    
# sort the data set and display the first five records
top_senders_df_sort = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

# currency format of the sorted data set
top_senders_df_sort.style.format({"Average Purchase Total":"${:,.2f}",
                                    "Average Purchase Price":"${:,.2f}", 
                                     "Total Purchase Value":"${:,.2f}"})

In [8]:
# most popular items analysis

#import required libraries
import pandas as pd
import numpy as np

# read the HeroesPymoli data
pymoli_df = pd.read_csv("/Users/rodneydavermann/Desktop/Pandas_Challenge2/Ressources/purchase_data.csv")

# group pymoli df by item id and item name
pymoli_itemid_itemname_df = pymoli_df.groupby(["Item ID", "Item Name"])
    
# purchase count 
purchase_count = pymoli_itemid_itemname_df["Item ID"].count()
    
# average purchase price
average_purchase_price = pymoli_itemid_itemname_df["Price"].mean() 
    
# total purchase value
total_purchase_value = pymoli_itemid_itemname_df["Price"].sum()

# popular items data frame
popular_items_df = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": average_purchase_price,
                                 "Total Purchase Value":total_purchase_value})
    
# sort the data set and display the first five records
popular_items_df_sort = popular_items_df.sort_values(["Total Purchase Value"], ascending=False).head()

# currency format of the sorted data set
popular_items_df_sort.style.format({"Average Purchase Total":"${:,.2f}",
                                    "Average Purchase Price":"${:,.2f}", 
                                     "Total Purchase Value":"${:,.2f}"})

In [9]:
# most profitable items analysis

# read the HeroesPymoli data
pymoli_df = pd.read_csv("/Users/rodneydavermann/Desktop/Pandas_Challenge2/Ressources/purchase_data.csv")

# new data frame  
pymoli__items_df = pymoli_df[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
pymoli__items__group_df = pymoli__items_df.groupby(["Item ID","Item Name"])

# purchase count per item 
purchase_count = pymoli__items__group_df["Price"].count()

# purchase value per item 
purchase_value = (pymoli__items__group_df["Price"].sum()) 

# calculate individual item price
individual_price = purchase_value/purchase_count

# most profitable items data frame 
profitable_items_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Item Price": individual_price,
                                    "Total Purchase Value":purchase_value})
    
# sort the data set and display the first five records
profitable_items_df_sort = profitable_items_df.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
profitable_items_df_sort.style.format({"Item Price":"${:,.2f}",
                                       "Total Purchase Value":"${:,.2f}"})